[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "familial"]
	path = familial
	url = https://github.com/ryan-thompson/familial
[submodule "grpsel"]
	path = grpsel
	url = https://github.com/ryan-thompson/grpsel
